/* CSS Document */

body {
	text-align:center;
}

img
{
	border: 0;
}

.wrap
{
	background-color:white;
	text-align: left;
	padding:0px;
	margin-left : auto;
	margin-right : auto;
	width:975px;
}

.header
{
	width:975px;
}

.abs_left {
	float: left;
}

.abs_right {
	float: right;
}

.div_menu
{
	/*margin-left:165px;*/
	height:40px;
	float:right;
}

.menu
{
	list-style-type:none;
	margin:0;
	padding:0;
	z-index:10001;
	float:right;
}

.menu_item
{
	float: left; 
	margin-left: 13px;
}

.table_left {
	width: 140;
	float: left;
}

.table_left_CurrentPage {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6288AF;
}

.table_content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#7F7F7F; 
}

.content-img
{
	width:177; 
	float:left;
	vertical-align:top;
}

.content-spacer
{
	width:450; 
	float:left;
	height: 25px;
}

.table_mid {
	width: 630;
	float: left;
	background-image:url(../images/dot-v.gif);
}

.table_mid_full {
	width: 830;
	float: left;
}

.title_bluebig {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#6288AF;
	float : right;
	width: 450px;
}

.title_blue {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#6288AF;
	float : right;
	width: 400px;
}

.description
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	vertical-align: middle;
	color:#7F7F7F;
	float : left;
	width: 440px;
}

.subtitle-div
{
	display:table-cell;
	vertical-align:bottom; 
	float:right;
	height:25px;
	width:450px;
	text-align:right;
} 

.subtitle 
{
	background-color: #E2E6E9;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#6288AF;
}

.table_right {
	width: 200px;
	float: right;
}

.table_right_title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#7F7F7F;
	width:181;
	height:27;
	float:right;
}

.table_right_txt 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#7F7F7F;
	width:70px;
	float:left;
}

.firstLastNameRow
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#7F7F7F;
	float: left; margin: 0; padding: 0; width: 180;
}

.firstLastNameCol {float: left; width: 90; margin: 0 0 0 0; padding: 0;}

.email
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#7F7F7F;
	float:right;
	width: 181;
}

.table_content_title_blue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6288AF;
	float : none;
	text-align:left;
	padding-right:15px;
}

.table_content_blue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6288AF;
	float : none;
	text-align:left;
	padding-right:15px;
}

.table_content_blue_nopadding {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6288AF;
	float : none;
	text-align:left;
	
}
.table_content_title_grey {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#7F7F7F;
	float : none;
	text-align:left;
	padding-right:15px;
}

.table_content_grey {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:none;
	color:#7F7F7F;
	padding-right:15px;
	text-align:left;
	
}

a.table_content:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#7F7F7F;
	text-decoration:none;
}

a.table_content:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#7F7F7F;
	text-decoration:none;
}

a.table_content:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6288AF;
	text-decoration:none;
}

a:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6288AF;
	text-decoration:none;
}

a:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6288AF;
	text-decoration:none;
}

a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6288AF;
	text-decoration:underline;
}

