.narrowed-category LI {
	ZOOM: 1
}
.page-head {
	ZOOM: 1
}
.page-head-alt {
	ZOOM: 1
}
.page-popup .print-head {
	ZOOM: 1
}
.col2-set {
	ZOOM: 1
}
.col2-alt-set {
	ZOOM: 1
}
.col3-set {
	ZOOM: 1
}
.col4-set {
	ZOOM: 1
}
.header {
	ZOOM: 1
}
.head {
	ZOOM: 1
}
.head-alt {
	ZOOM: 1
}
.head-alt2 {
	ZOOM: 1
}
.head-alt3 {
	ZOOM: 1
}
#nav {
	ZOOM: 1
}
.box {
	ZOOM: 1
}
.middle {
	ZOOM: 1
}
.button-set {
	ZOOM: 1
}
.one-page-checkout {
	ZOOM: 1
}
.actions {
	ZOOM: 1
}
.legend {
	ZOOM: 1
}
.ratings {
	ZOOM: 1
}
.page-head {
	ZOOM: 1
}
.page-head-alt {
	ZOOM: 1
}
.search-bar {
	ZOOM: 1
}
.sidebar LI.item {
	ZOOM: 1
}
.sidebar .content {
	ZOOM: 1
}
.group-select LI {
	ZOOM: 1
}
.search-autocomplete LI {
	ZOOM: 1
}
.tabs {
	ZOOM: 1
}
.cross-sell-block {
	ZOOM: 1
}
.my-review-detail {
	ZOOM: 1
}
.search-autocomplete LI {
	ZOOM: 1
}
.generic-product-list LI {
	ZOOM: 1
}
.account-nav LI {
	ZOOM: 1
}
.listing-type-list .listing-item {
	ZOOM: 1
}
#nav LI {
	ZOOM: 1
}
.product-img-box .more-views UL {
	ZOOM: 1
}
.product-options DT {
	ZOOM: 1
}
.product-options DD UL.options-list LI {
	ZOOM: 1
}
.product-options DD UL.options-list .label {
	ZOOM: 1
}
.product-options-bottom {
	ZOOM: 1
}
.truncated_full_value {
	ZOOM: 1
}
.error-msg {
	ZOOM: 1
}
.success-msg {
	ZOOM: 1
}
.notice-msg {
	ZOOM: 1
}
.note-msg {
	ZOOM: 1
}
INPUT.radio {
	WIDTH: 13px; HEIGHT: 13px
}
INPUT.checkbox {
	WIDTH: 13px; HEIGHT: 13px
}
.product-options UL.options-list INPUT.radio {
	MARGIN-TOP: 4px
}
.footer .footer-callout {
	ZOOM: 1; POSITION: relative
}
.login-box .content {
	HEIGHT: 180px
}
.col-left {
	DISPLAY: inline
}
.col-right {
	DISPLAY: inline
}
.col-main {
	DISPLAY: inline
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; VISIBILITY: hidden; OVERFLOW: hidden; LINE-HEIGHT: 0; HEIGHT: 0px
}
